* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: skyblue;
  width: 100%;
  height: 100%;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper.hide {
  display: none;
}
.container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100vh;
}
.hide{
  display: none;
}
.container button {
  padding: 20px;
  margin: 20px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}
.buttons {
  width: 70vmin;
  height: 70vmin;
  gap: 5vmin;
  display: flex;
  flex-wrap: wrap;
}
.buttons .btn {
  width: 20vmin;
  height: 20vmin;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}
.restart {
  margin: 20px auto;
  border: none;
  outline: none;
  border: 1px solid #333;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-weight: bold;
}
.msgbox {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(183, 183, 255);
}
.msgbox.hide {
  display: none;
}
.newGame {
  margin: 20px auto;
  background: blue;
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}
